<div class="row" id="heading">
    <div class="col-md-8">
        <div>
            <div class="float-left">
                <a href="/">
                    <img src="https://cdn.occrp.org/common/favicon/large.png">
                </a>
            </div>
            <div class="float-left">
                <h1 class="site-title">
                    <a href="/">
                        occrp technology
                    </a>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h1 class="claim">
            {{site.description}}
        </h1>
    </div>
</div>